<div class="container">
  <!-- WELCOME CARD -->
  <div class="card welcome-card mb-4">
    <div class="card-body d-flex align-items-center">
      <div class="welcome-logo-wrapper me-3">
        <%= image_tag "KAMIZERO LOGO MAIN.png", class: "welcome-logo img-fluid" %>
      </div>
      <div class="flex-grow-1">
        <h3 class="mb-1 welcome-line-1">Welcome to Kamizero</h3>
        <h4 class="mb-1 welcome-line-2">Managing School Notices Paperlessly</h4>
        <%= link_to "Login in", new_user_session_path, class: "btn btn-primary" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
