.button-view-all {
  background-color: #14bec0 !important;
  border-color: #14bec0 !important;
  color: #ffffff !important;
  font-weight: 600;

  &:hover {
    background-color: darken(#14bec0, 8%) !important;
    border-color: darken(#14bec0, 8%) !important;
    color: #ffffff !important;
  }

  &:active, &:focus {
    background-color: darken(#14bec0, 12%) !important;
    border-color: darken(#14bec0, 12%) !important;
    box-shadow: 0 0 0 0.2rem rgba(20, 190, 192, 0.3) !important;
  }
}
