@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.nav-kamizero {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 600;
  color: #0097b2 !important;
  letter-spacing: 0.5px;

  &:hover {
    color: darken(#0097b2, 8%) !important;
  }
}
